DATABASE_CONNECTION_STRING=Server=SEU_SERVIDOR;Database=orion;User Id=SEU_USER;Password=SUA_SENHA;TrustServerCertificate=True
JWT_SIGNING_KEY=GERE_UMA_CHAVE_ALEATORIA_DE_PELO_MENOS_32_BYTES
JWT_ISSUER=https://SEU_DOMINIO_AQUI
JWT_AUDIENCE=https://SEU_DOMINIO_AQUI
JWT_EXPIRATION_MINUTES=60
RUN_MIGRATIONS=false
